body {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: large;
}
 
#sidenav {
  height: 100%; 
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  bottom: 0; /* Stay at the top */
  left: 0;
  
 
}

#sidenav2 {
  height: 100%; 
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  bottom: 0; /* Stay at the top */
  float: right;
  right: 0;
}

#pagecontent {
  margin: 0px 150px;
  padding: 0 10px;
}

#logo {
  float: left;
  width: 40%;
  height: 155px;
  margin-bottom: 10px;
}

#welcome{
  display: grid;
  float: right;
  width: 60%;
  height: 155px;
  text-align: center;
  font-size: 60px;
  margin: 0;
  align-items: center;
  
}

nav {
  clear: both;
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
}
#nav {
  background: #000000;
  
}
.link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 24px 10px;
}

/* Time table */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}   

th, td {
  padding: 5px;
  text-align: center;
}

.face{
  float: left;
  width: 30%;
  object-fit:cover;
  margin: 10px;
  border: 2px solid grey;
  height: 400px;
}

.email_link{
  color: black;
  text-decoration: none;
}

.Email{
  font-weight: bold;
  color: black;
  text-decoration: none;  
}

.stdEmail{
  color: black;
  text-decoration: none;
}
#SE{
  color: #42b3f5;
  font-family: inherit;
  font-size: 50px;
  font-variant: normal;

}
#RN1{
  color: darkgray;
}
#IoT{
  color: darkblue;
  font-family: inherit;
  font-size: 50px;
  font-variant: normal;
}
#RN2{
  color: darkgray;
}
.COS10009{
  background-color: darkred;
  color: white;
}
.COS10004{
  background-color: green ;
}
.COS10026{
  background-color: purple;
  color: white;
}
.TNE10006{
  background-color: pink;
}

#job{
  width: 70%;
  float: left;

  display: grid;
  place-items: center end;

}
#job1{
  width: 70%;
  float: left;

  display: grid;
  place-items: center end;
}
#xD{
  float: right;
  margin: 10px;
  padding: 10px;
  width: 25%;
  background-color: #a17d22;
}
#xD1{
  float: right;
  margin: 10px;
  padding: 10px;
  width: 25%;
  background-color: #a17d22;
}


#beforeYou{
    text-align: center;
    font-size: small;
    margin: 0;
  }

#you{
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}

#clearAbove{clear: both;}
#clearAbove1{clear: both;}

#flexbox{
  display: flex;
  background-color: #9FE2BF;
  margin: 0 200px;
  height: 140px;
  place-content: center;

}
.indp{
  display: inline-block;
  object-fit:cover;
  width: 100px;
  height: 100px; 
  margin: 20px;
  /* width: 20%;  */
}
#indp1 {
  display: inline-block;
  object-fit:cover;
  width: 300px;
  height: 100px; 
  margin: 20px;
}

/* Cho enhancement page */
.canMargin {margin-bottom: 10px;}

/* Cho apply.html */
#formTitle {
  font-size: xx-large;
  text-align: center;
}

#formTitle2 {
  font-size: small;
  text-align: center;
}

#applyButton{
  margin-top: 10px;
  /* Display flex */
  display: flex;
  flex-wrap: nowrap;

  justify-content: center;
  background-color: white;
}

input[type=submit], input[type=reset]{
  background-color: #000000;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
} 


#inh{
  color: #100e36;

}
/*blink salary*/
.blink1{
  background: rgb(0, 0, 0);
}
#blink1{
  color: #ffc310;
  animation: blink-text 1.9s linear infinite;
  font-size: 30px
}
.blink{
  background: rgb(0, 0, 0);
}
#blink{
  color: #ffc310;
  animation: blink-text 1.9s linear infinite;
  font-size: 30px
}

#dtInGen{
  float:left
}

@keyframes blink-text {
 0% {
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

#bodylogin{
  background: #ccc;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: black;
}

.login-header {
  background: black;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.login-container {
  background: #fff;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background-color: white;
}

.login input[type="username"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="username"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: black;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

/* For manage.php */
.wrapper {display: flex; justify-content: space-between;}

.main, .sidebar {border: 3px solid black;
                  padding: 15px; 
                  background-color: #fff;
                  border-radius: 25px;}

.main {
  width: 55%;
  height: 100%;
  /* background-size: 100% 100%; */
  overflow-y: auto;
}

.sidebar {
  width: 35%;
  height: 400px;

/* Make sticky */
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
  padding: 10px;
}
